@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;

    scroll-behavior: smooth;

    list-style: none;

    font-family: "Poppins", sans-serif;

    --main-theme: rgb(100, 100, 100);
    --secondary-theme: rgba(0, 91, 133, 0.493);
    --complimentary-theme: rgb(230, 230, 50);

    --txt-nav: rgb(50, 50, 50);
    --txt-nav-hover: rgb(135, 221, 255);
    --main-img-h: 50vh;

    --menu-movement: 50vw;
}

*:focus {
    outline: 0.5px solid var(--complimentary-theme);
    border-radius: 1px;
}

body {
    overflow-x: hidden;
}

.d-flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.d-grid {
    display: grid;
}

.f-width {
    width: 100%;
}